In [1]:
import pandas as pd

In [3]:
# The attributes of the dataset are located in rows, which is not convenient, therefore data transpose was performed.
dataset = pd.read_csv('hazelnuts.txt', sep="\t").T

In [10]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10
71,11.67,12.8025,8.055074738,34.65,1375.5,0.93005,19.145,4.4604,0.048667685,0.175,c_avellana
72,13.86,13.0995,7.349906812,38.1,1439.55,0.93401,8.78,4.7844,0.048826089,0.167,c_avellana
1,20.53,15.5925,9.565426582,49.89,1623.3,0.96217,5.12,5.2893,0.049521325,0.174,c_americana
73,14.13,12.222,7.182948645,35.43,1412.25,0.90178,13.694,4.8168,0.049594663,0.167,c_avellana
2,15.85,14.724,8.622661318,43.29,1512,0.96261,10.925,4.6296,0.050384315,0.173,c_americana

In [16]:
# The index in the original dataset was also shuffled, therefore it was reset and put in order for further convenience. 
dataset.reset_index(drop=True, inplace=True)

In [26]:
dataset.head()

,length,width,thickness,surfacearea,mass,compactness,hardness,shelltopradius,watercontent,carbohydratecontent,variety
0,11.67,12.8025,8.055074738,34.65,1375.5,0.93005,19.145,4.4604,0.048667685,0.175,c_avellana
1,13.86,13.0995,7.349906812,38.1,1439.55,0.93401,8.78,4.7844,0.048826089,0.167,c_avellana
2,20.53,15.5925,9.565426582,49.89,1623.3,0.96217,5.12,5.2893,0.049521325,0.174,c_americana
3,14.13,12.222,7.182948645,35.43,1412.25,0.90178,13.694,4.8168,0.049594663,0.167,c_avellana
4,15.85,14.724,8.622661318,43.29,1512,0.96261,10.925,4.6296,0.050384315,0.173,c_americana

In [23]:
# The dataset did not have descriptive column names, therefore they were added manually based on specifications from the author.
dict = {0: 'length',
        1: 'width',
        2: 'thickness',
        3: 'surfacearea',
        4: 'mass',
        5: 'compactness',
        6: 'hardness',
        7: 'shelltopradius',
        8: 'watercontent',
        9: 'carbohydratecontent',
       10: 'variety'}

dataset.rename(columns=dict, inplace=True)

In [25]:
dataset.head()

,length,width,thickness,surfacearea,mass,compactness,hardness,shelltopradius,watercontent,carbohydratecontent,variety
0,11.67,12.8025,8.055074738,34.65,1375.5,0.93005,19.145,4.4604,0.048667685,0.175,c_avellana
1,13.86,13.0995,7.349906812,38.1,1439.55,0.93401,8.78,4.7844,0.048826089,0.167,c_avellana
2,20.53,15.5925,9.565426582,49.89,1623.3,0.96217,5.12,5.2893,0.049521325,0.174,c_americana
3,14.13,12.222,7.182948645,35.43,1412.25,0.90178,13.694,4.8168,0.049594663,0.167,c_avellana
4,15.85,14.724,8.622661318,43.29,1512,0.96261,10.925,4.6296,0.050384315,0.173,c_americana

In [28]:
# Saving preprocessed dataset.
dataset.to_csv('hazelnuts_preprocessed.csv', index=False)